body {
  background-color: #d34c65;
  text-align: center;
}

img {
  border-radius: 50%;
  width: 200px;
  border: 5px solid #db6e82;
  margin-top: 30px;
  transform: rotate(-10deg);
}

p {
  color: #fff;
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}

a {
  color: #fff;
  background: #db6e82;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 38px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

a:hover {
  background: #ef92a3;
}

a span {
  color: #666;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -20px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s (0.68, -0.55, 0.265, 1.55);
}

a span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

a:hover span {
  bottom: 65px;
  visibility: visible;
  opacity: 1;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.github-icon {
  margin: 10px;
}

.twitter-icon {
  width: 25px;
  margin-top: 12.5px;
  margin-left: 12.5px;
}

.LinkedIn-icon {
  margin-top: 12px;
  margin-left: 10px;
}

.instagram-icon {
  margin-top: 12.5px;
  margin-left: 10px;
}
