body {
  display: flex;
  justify-content: center;
  background-color: #414a4c;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
}

section.biography {
  margin-top: 50px;
  margin-bottom: 15px;
}

section.biography > img {
  border-radius: 50%;
  width: 200px;
  border: 7.5px solid rgba(255, 255, 255, 0.2);
}

section.biography > .job-title {
  width: fit-content;
  padding: 4px 7px;
  text-align: center;
  margin-top: 30px;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.2);
}

section.skills {
  width: 90%;
  text-align: center;
  margin-bottom: 30px;
}

section.skills > span {
  display: inline-block;
  padding: 3px 7px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

section.socials {
  display: flex;
}

section.socials > a {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  margin: 0 4px;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

section.socials > a:hover {
  transform: scale(1.15) translateY(-10px);
  background-color: rgba(255, 255, 255, 0.4);
}

section.socials > a > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}